{{ 'custom-marquee.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<marmeto-scrollable-text class="section-{{ section.is }}">
  <div class="marmeto-scrollable-text">
    <div class="marmeto-scrollable-text__header">
      {% if section.settings.heading %}
        <div class="marmeto-scrollable-text__heading">
          {{ section.settings.heading }}
        </div>
      {% endif %}
      {% if section.settings.description %}
        <div class="marmeto-scrollable-text__description">
          {{ section.settings.description }}
        </div>
      {% endif %}
    </div>
    <div class="marmeto-scrollable-text__wrapper">
      {% for i in (1..28) %}
        <div class="marmeto-scrollable-text__marquee">
          {% for block in section.blocks %}
            <div class="marmeto-scrollable-text__item">
              {% if block.settings.svg %}
                <div class="marmeto-scrollable-text__svg">
                  {{ block.settings.svg }}
                </div>
              {% endif %}
              {% if block.settings.slider_text %}
                <div class="marmeto-scrollable-text__text">
                  {{ block.settings.slider_text }}
                </div>
              {% endif %}
              <div class="marmeto-scrollable-text__button">
                <a href="{% if block.settings.button_url %}{{ block.settings.button_url }}{% else %}#{% endif %}" class="button {{block.settings.button_type}}">
                  <span>{{ block.settings.button_label }}</span>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</marmeto-scrollable-text>


{% schema %}
  {
    "name": "Custom marquee",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Text Slider"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default":"Heading"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default":"<p>Paragraph</p>"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h0",
            "label": "Large"
          }, {
            "value": "h1",
            "label": "Medium"
          }, {
            "value": "h2",
            "label": "Small"
          }
        ],
        "default": "h1",
        "label": "Heading Size"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 30
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 30
      }
    ],
    "blocks": [
      {
        "name": "Text content block",
        "type": "text_block",
        "limit": 10,
        "settings": [
          {
            "type": "html",
            "id": "svg",
            "label": "svg"
          },
          {
            "type": "text",
            "id": "slider_text",
            "label": "Slider text",
            "default": "New collection"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "explore"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button url"
          }, {
            "type": "select",
            "id": "button_type",
            "label": "Button Type",
            "options": [
              {
                "label": "Primary buttton",
                "value": "button--primary"
              }, {
                "label": "Secondary button",
                "value": "button--secondary"
              }, {
                "label": "Ternary button",
                "value": "button--tertiary"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom text slider"
      }
    ]
  }
{% endschema %}
